---
import PageLayout from "../layouts/pageLayout.astro";
import ModeToggle from "../components/ModeToggle.astro";
import FoodBrandInfo from "../components/BrandInfo.astro";
import BrandsAndChefs from "../components/BrandsAndChefs.astro";
import Testimonials from "../components/Testimonials.astro";
import Cost from "../components/Cost.astro";
import OrderNow from "../components/OrderNow.astro";
import Footer from "../components/Footer.astro";
---

<PageLayout>
    <div class="flex flex-col">
        <ModeToggle selected="brand" />
        <span class="mt-12"></span>
        <FoodBrandInfo
            title="Scale to 100s of outlets, with perfect consistency"
            description="Easy to integrate automation suite for your kitchen fleet to perfectly execute your menu, with untrained staff, anywhere in the world."
            mobileBenefits="Tap into unrealized revenue, build a global brand & retain more customers."
            preFace="FOR FOOD BRANDS"
            benefits={[
                "Tap into unrealized revenue",
                "Build a global brand",
                "Retain more customers",
            ]}
            buttonCTA="Get a Demo Now"
        />
        <span class="mt-12 md:mt-24"></span>
        <BrandsAndChefs />
        <Testimonials />
        <Cost />
        <OrderNow />
        <Footer />
    </div>
</PageLayout>
