---
import PageLayout from "../layouts/pageLayout.astro";
import ModeToggle from "../components/ModeToggle.tsx";
import FoodBrandInfo from "../components/BrandInfo.astro";
import BrandsAndChefs from "../components/BrandsAndChefs.astro";
import Testimonials from "../components/Testimonials.astro";
import Cost from "../components/Cost.astro";
import OrderNow from "../components/OrderNow.astro";
import Footer from "../components/Footer.astro";
import Features from "../components/Features.astro";

import data from "../config/data.json";
---

<PageLayout>
  <div class="flex flex-col">
    <ModeToggle selectedMode="brand" client:load />
    <span class="mt-12"></span>
    <FoodBrandInfo {...data.brand.foodBrandInfo} />
    <span class="mt-12 md:mt-24"></span>
    <BrandsAndChefs />
    <Features {...data.brand.features} />
    <Testimonials {...data.brand.testimonial} />
    <Cost {...data.brand.offer} />
    <OrderNow />
    <Footer />
  </div>
</PageLayout>
