---
import PageLayout from "../layouts/pageLayout.astro";
import ModeToggle from "../components/ModeToggle.astro";
import FoodBrandInfo from "../components/BrandInfo.astro";
import BrandsAndChefs from "../components/BrandsAndChefs.astro";
import Testimonials from "../components/Testimonials.astro";
import Cost from "../components/Cost.astro";
import OrderNow from "../components/OrderNow.astro";
import Footer from "../components/Footer.astro";
---

<PageLayout>
    <div class="flex flex-col">
        <ModeToggle selected="platform" />
        <span class="mt-12"></span>
        <FoodBrandInfo
            title="Serve Michelin-like dishes, with untrained staff"
            description="End-to-end low cost automation suite to license and cook recipes from top food brands with super-human accuracy in your kitchens."
            mobileBenefits="Increase demand, customer retention, and profitability with simpler operations"
            preFace="FOR FOOD PLATFORMS"
            benefits={[
                "Increase demand",
                "Customer retention",
                "Profitability with simpler operations",
            ]}
        />
        <span class="mt-12 md:mt-24"></span>
        <BrandsAndChefs />
        <Testimonials />
        <Cost />
        <OrderNow />
        <Footer />
    </div>
</PageLayout>
