<div class="flex-col md:flex-row flex mx-5 md:mx-16 items-center">
    <div class="flex-col flex-1">
        <span
            class="hidden md:block text-xl font-semibold not-italic"
            style="color: #97A791">FOR FOOD BRANDS</span
        >
        <h1
            class="text-3xl md:text-6xl font-medium text-justify"
            style="color: #16160E"
        >
            Scale to 100s of outlets, with perfect consistency
        </h1>
        <p class="mt-2 md:mt-4 font-normal text-base md:text-xl not-italic">
            Easy to integrate automation suite for your kitchen fleet to
            perfectly execute your menu, with untrained staff, anywhere in the
            world.
        </p>
        <ul class="mt-0 md:mt-4 flex-col" style="color: #16160E">
            <li class="flex">
                <span
                    class="text-center text-2xl mr-1 md:mr-2 font-normal not-italic leading-normal"
                    style="color: #97A791"
                >
                    *
                </span>
                <span class="text-base md:text-base font-normal non-italic"
                    >Tap into unrealized revenue</span
                >
            </li>
            <li class="flex">
                <span
                    class="text-center text-2xl mr-1 md:mr-2 font-normal not-italic leading-normal"
                    style="color: #97A791"
                >
                    *
                </span><span
                    class="text-base md:text-base font-normal non-italic"
                    >Build a global brand
                </span>
            </li>
            <li class="flex">
                <span
                    class="text-center text-2xl mr-1 md:mr-2 font-normal not-italic leading-normal"
                    style="color: #97A791"
                >
                    *
                </span>
                <span class="text-base md:text-base font-normal non-italic"
                    >Retain more customers
                </span>
            </li>
        </ul>
        <button class="bg-black rounded-xl mt-4 md:mt-14">
            <a class="w-full" href="https://cloudchef.co" target="_blank">
                <div
                    class="text-white text-xs md:text-sm font-semibold mx-4 my-2 md:mx-6 md:my-3"
                >
                    Get a Demo Now
                </div>
            </a>
        </button>
    </div>
    <div
        class="mt-11 md:mt-0 ml-0 md:ml-14 w-full md:w-96 h-52 md:h-96"
        style=""
    >
        <video class="h-full w-full" controls>
            <source
                src="https://www.youtube.com/watch?v=DsTApkSxssw"
                type="video/mp4"
            /></video
        >
    </div>
</div>
