<section class="flex-col">
    <h3
        class="text-center text-xl md:text-2xl font-medium"
        style="color: #16160E"
    >
        Some of the best chefs and brands trust us
    </h3>
    <div
        class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-x-16 mt-4 md:mt-11 mx-11 md:mx-40"
    >
        <div class="bg-gray-500 h-12 md:h-20"></div>
        <div class="bg-gray-500 h-12 md:h-20"></div>
        <div class="bg-gray-500 h-12 md:h-20"></div>
        <div class="bg-gray-500 h-12 md:h-20"></div>
        <div class="bg-gray-500 h-12 md:h-20"></div>
        <div class="bg-gray-500 h-12 md:h-20"></div>
    </div>
    <div class="mt-8 md:mt-16 flex" style="background: #E6EAE3">
        <div
            class="flex flex-1 items-center mx-4 my-3 md:mx-16 md:my-7 justify-evenly"
        >
            <span
                class="text-center text-2xl font-normal not-italic leading-normal"
                style="color: #97A791"
            >
                *
            </span>
            <img
                class="h-7 w-12 md:hidden"
                src="/images/brandLogos/logo_m_1.png"
            />
            <img
                class="hidden md:block md:h-16 md:w-32"
                src="/images/brandLogos/logo_1.png"
            />
            <span
                class="text-center text-2xl font-normal not-italic leading-normal"
                style="color: #97A791"
            >
                *
            </span>
            <img
                class="h-7 w-12 md:hidden"
                src="/images/brandLogos/logo_m_1.png"
            />
            <img
                class="hidden md:block md:h-16 md:w-32"
                src="/images/brandLogos/logo_1.png"
            />
            <span
                class="text-center text-2xl font-normal not-italic leading-normal"
                style="color: #97A791"
            >
                *
            </span>
            <img
                class="h-7 w-12 md:hidden"
                src="/images/brandLogos/logo_m_1.png"
            />
            <img
                class="hidden md:block md:h-16 md:w-32"
                src="/images/brandLogos/logo_1.png"
            />
            <span
                class="text-center text-2xl font-normal not-italic leading-normal"
                style="color: #97A791"
            >
                *
            </span>
            <img
                class="h-7 w-12 md:hidden"
                src="/images/brandLogos/logo_m_1.png"
            />
            <img
                class="hidden md:block md:h-16 md:w-32"
                src="/images/brandLogos/logo_1.png"
            />
            <span
                class="text-center text-2xl font-normal not-italic leading-normal"
                style="color: #97A791"
            >
                *
            </span>
        </div>
    </div>
</section>
