<section
  class="flex flex-col px-3 py-3 md:px-16 md:py-7 bg-deepBlack md:bg-sageGreen"
>
  <h3
    class="text-h3-m md:text-h3-d font-openSans font-bold text-center text-deepWhite"
  >
    Trusted by
  </h3>
  <div
    class="flex justify-between items-center mt-3 md:mt-11 md:gap-9 md:justify-center"
  >
    {
      Array(4)
        .fill(true)
        .map((_, index) => (
          <>
            <img
              alt="Chef Logo Image"
              class="h-18 md:hidden"
              src={`/images/chefImages/logo_${index + 1}_m.png`}
            />
            <img
              alt="Chef Logo Image"
              class="hidden md:block md:h-32"
              src={`/images/chefImages/logo_${index + 1}.png`}
            />
          </>
        ))
    }
  </div>
</section>
