---
const { title, highlight, buttonCTA } = Astro.props;
---

<section class="text-center flex-col py-14 md:py-32 px-5">
  <h3
    class="text-h2-m md:text-h3-d font-grotesk font-medium text-center text-deepBlack"
  >
    {title}
  </h3>
  <h1
    class="text-h1-m font-grotesk md:text-h1-d font-medium mt-4 text-deepBlack"
    style="color: #16160E"
  >
    {highlight}
  </h1>
  <button
    class="bg-black rounded-xl mt-8 px-6 py-3 text-p2-d bg-deepBlack text-deepWhite font-semibold"
  >
    <a class="w-full" href="https://cloudchef.co" target="_blank">
      {buttonCTA}
    </a>
  </button>
</section>
