---
import { ContactUsButton } from "./ContactUsButton.tsx";

const { title, highlight, buttonCTA } = Astro.props;
---

<section class="flex flex-col py-14 md:py-32 px-5 items-center">
  <h3
    class="text-h2-m md:text-h3-d font-grotesk font-medium text-center text-deepBlack"
  >
    {title}
  </h3>
  <h1
    class="text-center text-h1-m font-grotesk md:text-h1-d font-medium mt-4 text-deepBlack"
    style="color: #16160E"
  >
    {highlight}
  </h1>
  <ContactUsButton
    client:visible
    buttonCTA={buttonCTA}
    formTitle="Request for a demo here"
    className="mt-8 text-p2-d"
  />
</section>
