<section class="text-center flex-col my-14 mx-5 md:my-28 md:mx-auto">
    <h3 class="text-xl md:text-2xl font-medium" style="color: #708568">
        The cost to <span style="color: #333320">upgrade a $2 million</span>
         revenue kitchen is just
    </h3>
    <h1 class="text-6xl font-medium mt-4" style="color: #16160E">$20,000</h1>
    <button class="bg-black rounded-xl mt-8">
        <a class="w-full" href="https://cloudchef.co" target="_blank">
            <div
                class="text-white text-xs md:text-sm font-semibold mx-4 my-2 md:mx-6 md:my-3"
            >
                Get a Demo Now
            </div>
        </a>
    </button>
</section>
