<section
    style="background-color: #16160E; color: #FBFAF5"
    class="py-11 px-5 md:px-16"
>
    <p class="text-2xl font-medium">CloudChef</p>
    <p class="text-base md:text-xl font-normal">
        A multi-line address
        <br />Mountain View, San Francisco,
        <br />California
    </p>
</section>
