<section class="py-11 px-6 md:px-16 bg-deepBlack text-deepWhite">
  <div class="flex flex-col gap-1">
    <h2 class="text-h2-m md:text-h2-d font-openSans font-bold">Contact us</h2>
    <p class="text-p1-m md:text-p1-d font-inter font-normal">
      kitchens@cloudchef.co
    </p>
    <p class="text-p1-m md:text-p1-d font-inter font-normal">(872) 202-4040</p>
  </div>
  <div
    class="mt-12 flex flex-col gap-1 text-p0-m md:text-p1-d font-inter font-normal"
  >
    <p>Copyright © 2023 CloudChef, Inc.</p>
    <p>
      All rights reserved.<a
        href="https://www.termsfeed.com/live/cbfce712-403a-43ed-bcb8-7c4ecdf66561"
        >Terms of Use</a
      > & <a
        href="https://www.termsfeed.com/live/9c64710c-a297-478c-97c9-e8110f08cdd5"
        >Privacy Policy</a
      >
    </p>
  </div>
</section>
