<section
    class="py-11 px-5 md:px-16 bg-deepBlack text-dough"
>
    <p class="text-h3-m md:text-h3-d font-grotesk font-medium">CloudChef</p>
    <p class="text-p1-m md:text-p1-d font-normal">
        918, Industrial Ave,
        <br />Palo Alto,
        <br />California 94303
    </p>
</section>
