---
import data from "../config/modes.json";

const { selectedMode } = Astro.props;
---

<div class="p-1 mx-auto rounded-3xl flex w-fit bg-moisture">
  {
    data.availableMode.map(({ id, label }: { id: string; label: string }) => (
      <button
        class={`text-deepBlack text-p0-m md:text-p1-d font-inter py-2 px-4 rounded-20 ${
          id === selectedMode ? "font-semibold bg-greyYellowGreen " : ""
        }`}
        data-id={id}
      >
        <a href={id}>
          For <span class={id === selectedMode ? "italic" : ""}>{label}</span>
        </a>
      </button>
    ))
  }
</div>
