---
const { selected } = Astro.props;
---

<div class="p-1 mx-auto rounded-3xl flex w-fit bg-moisture">
    <button
        class={`text-deepBlack text-p0-m md:text-p1-d font-inter py-2 px-4 rounded-20 ${selected === 'brand' ? 'font-semibold bg-greyYellowGreen ' : ''}`}
        ><a href="brand">For <span class={selected === 'brand' ? 'italic' : ''}>Food Brands</span></a>
    </button>
    <button
        class={`text-deepBlack text-p0-m md:text-p1-d font-inter py-2 px-4 rounded-20 ${selected === 'platform' ? 'font-semibold bg-greyYellowGreen' : ''}`}
        ><a href="platform">For <span class={selected === 'platform' ? 'italic' : ''}>Food Platforms</span></a></button
    > 
</div>
