<div class="p-1 mx-auto rounded-3xl flex w-fit" style="background: #C8C2BE;">
    <button style="background-color: #E6EAE3" class="rounded-2xl py-1 px-2">
        For Food Brands
    </button>
    <button class="rounded-2xl py-1 px-2">For Food Platforms</button>
</div>
