<nav class="flex items-center justify-between mx-5 md:mx-16 my-4 md:my-6 bg-chalk">
    <div class="text-deepBlack font-grotesk text-h3-m md:text-h3-d font-medium">CloudChef</div>
    <button class="bg-deepBlack rounded-xl">
        <a class="w-full" href="https://cloudchef.co" target="_blank">
            <div class="text-deepWhite font-inter text-p2-d mx-4 my-2 md:mx-6 md:my-3">
                Order Food in SF
            </div>
        </a>
    </button>
</nav>
