---
import { ContactUsButton } from "./ContactUsButton";
---

<nav
  class="flex items-center justify-between px-5 md:px-16 py-3 md:py-6 bg-chalk sticky top-0 z-10 border-b border-solid border-greySilk"
>
  <div
    class="text-deepBlack font-openSans text-h2-m md:text-h3-d font-bold md:font-grotesk md:font-medium"
  >
    CloudChef
  </div>
  <ContactUsButton
    buttonCTA="Get in Touch"
    formTitle="Request for a demo here"
  />
</nav>
