<nav class="flex items-center justify-between mx-5 md:mx-16 my-4 md:my-6">
    <div class="text-xl font-medium">CloudChef</div>
    <button class="bg-black rounded-xl">
        <a class="w-full" href="https://cloudchef.co" target="_blank">
            <div class="text-white mx-4 my-2 md:mx-6 md:my-3">
                Order Foor in SF
            </div>
        </a>
    </button>
</nav>
