<section class="flex flex-col px-4 py-4 md:px-16 md:py-7 md:bg-greyYellowGreen">
  <h3
    class="block md:hidden text-h3-m font-openSans font-bold text-center text-deepBlack"
  >
    As seen on
  </h3>
  <div class="flex justify-evenly items-center mt-3 md:mt-0">
    <img
      alt="Logo Image"
      class="h-7 w-12 md:hidden"
      src="/images/brandLogos/logo_m_1.png"
    />
    <img
      alt="Logo Image"
      class="hidden md:block md:h-16 md:w-32"
      src="/images/brandLogos/logo_1.png"
    />
    <span
      class="text-sageGreen text-center text-p1-m md:text-p1-d font-normal not-italic"
    >
      *
    </span>
    <img
      alt="Logo Image"
      class="h-7 w-12 md:hidden"
      src="/images/brandLogos/logo_m_2.png"
    />
    <img
      alt="Logo Image"
      class="hidden md:block md:h-16 md:w-32"
      src="/images/brandLogos/logo_2.png"
    />
    <span
      class="text-sageGreen text-center text-p1-m md:text-p1-d font-normal not-italic"
    >
      *
    </span>
    <img
      alt="Logo Image"
      class="h-7 w-12 md:hidden"
      src="/images/brandLogos/logo_m_3.png"
    />
    <img
      alt="Logo Image"
      class="hidden md:block md:h-16 md:w-32"
      src="/images/brandLogos/logo_3.png"
    />
    <span
      class="text-sageGreen text-center text-p1-m md:text-p1-d font-normal not-italic"
    >
      *
    </span>
    <img
      alt="Logo Image"
      class="h-7 w-12 md:hidden"
      src="/images/brandLogos/logo_m_4.png"
    />
    <img
      alt="Logo Image"
      class="hidden md:block md:h-16 md:w-32"
      src="/images/brandLogos/logo_4.png"
    />
  </div>
</section>
