<section class="flex flex-col md:flex-row md:pl-16 md:bg-dough">
  <img
    src="/images/order_now_m.jpg"
    alt="Dish image"
    class="md:hidden"
    height="219px"
  />
  <img
    src="/images/order_now.jpg"
    alt="Dish image"
    class="hidden md:block w-96"
  />
  <div class="my-8 mx-5 md:mx-12 md:my-auto flex-col text-deepBlack">
    <h2
      class="text-h2-m md:text-h2-d font-openSans md:font-grotesk font-bold md:font-medium"
    >
      If you’re in the SF South Bay Area, we’re currently serving up a trial
      menu from top Indian chefs
    </h2>
    <button
      class="bg-deepBlack rounded-xl mt-8 md:mt-5 text-deepWhite px-6 py-3 text-p2-d font-semibold"
    >
      <a class="w-full" href="https://cloudchef.co" target="_blank">
        Order Food from Us
      </a>
    </button>
  </div>
</section>
