<section class="flex flex-col md:flex-row md:ml-16">
    <img
        src="/images/order_now_m.jpg"
        alt="Dish image"
        class="md:hidden"
        height="184px"
    />
    <img
        src="/images/order_now.jpg"
        alt="Dish image"
        class="hidden md:block w-96"
    />
    <div class="my-8 mx-5 md:mx-12 md:my-auto flex-col">
        <h2 class="text-xl font-medium md:text-5xl">
            If you’re in the SF South Bay Area, we’re currently serving up a
            trial menu from top Indian chefs
        </h2>
        <button class="bg-black rounded-xl mt-8 md:mt-5">
            <a class="w-full" href="https://cloudchef.co" target="_blank">
                <div class="text-white mx-4 my-2 md:mx-6 md:my-3">
                    Order Food in SF
                </div>
            </a>
        </button>
    </div>
</section>
