<div
    class="flex mx-5 my-8 md:mx-16 md:my-18 items-center"
    style="color: #16160E;"
>
    <div class="md:mr-12">
        <h2 class="text-xl md:text-3xl font-medium break-words">
            “I’ve finally found a technology that can help me go from 2
            restaurants to hundreds without compromising quality.”
        </h2>
        <p class="hidden md:flex text-xl font-normal break-words mt-4">
            Srijith Gopinathan - 2 Michelin Chef
        </p>
        <div class="flex md:hidden mt-5 items-center">
            <img
                src="/images/testimonial_m.jpg"
                alt="chef's image"
                class="h-11 w-11 rounded-full mr-3"
            />
            <div class="flex-col">
                <div class="text-base font-semibold break-words">
                    Srijith Gopinathan
                </div>
                <div class="mt-1 font-normal text-base break-words">
                    2 Michelin Chef
                </div>
            </div>
        </div>
    </div>
    <img
        src="/images/testimonial.jpg"
        alt="chef's image"
        class="hidden md:block"
        height="368px"
    />
</div>
