---
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CloudChef</title>
	</head>
	<body class="bg-white">
		<Nav />
		<hr style="border: 1px solid #DDCD6" class="mb-6 mx:mb-4" />
		<slot />
	</body>
</html>
